<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.dao.UserDao">
	<select id="findUser" resultType="com.sd.entity.User">
		SELECT * FROM MYUSER
	</select>
	<select id="findUserByName" parameterType="String" resultType="com.sd.entity.User">
		SELECT * FROM MYUSER WHERE USER_NAME=#{name}
	</select>
	
	<select id="login" parameterType="map" resultType="com.sd.entity.User">
		SELECT * FROM MYUSER WHERE USER_NAME=#{name} and user_pass=#{pass}
	</select>
</mapper>